[Desktop Entry]
Version=1.0
Type=Link
Name=arch.jsonc
Comment=
Icon=user-bookmarks
URL=https://github.com/LierB/fastfetch/blob/master/presets/arch.jsonc
